/* Set margin, flex properties, height, and background color for the body */
body{
    justify-content: center;
    background-color: #1f1f1f;

}


canvas {
    border: 1px solid #fff; /* 1 pixel solid white border */
}
